<!DOCTYPE html>
<html>
<head>
    <title>Jango Python Loading Page</title>
    <style>
        @keyframes blink {
            0% { opacity: 0; }
            50% { opacity: 1; }
            100% { opacity: 0; }
        }

        .loading-text {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            animation: blink 1s infinite;
        }
    </style>

</head>
<body>
    <div>
        <div class="loading-text">Loading... <div id="message"></div></div>
    </div>

        <div style="display: none" id="video_id">{{video_id}}</div>

</body>
<script type="text/javascript" defer>


    // Further code...
</script>
    <script type="text/javascript" defer>
        var videoId = "{{video_id}}";
        console.log('video_id: ' + videoId);
        function checkStatus(){
            setInterval( () =>

            fetch('http://localhost:8000/get-operation-status/'+ videoId)
            .then(x => x.json())
            .then(x => x.status)
            .then(x => {
                var string;
                if (x == 'ready') {
                    console.log(videoId)
                    document.location.href='http://localhost:8000/content/'+videoId;
                } else if (x == 'pending') {
                    console.log('pending')
                } else {
                    document.getElementById('message').innerText = x;
                }
            })
            .catch(err => document.getElementById('message').innerText = 'error'),
            5000)
        }

        window.onload = () => {
            checkStatus();
        }
    </script>
</html>